.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #75DE70;
}

.navbarText {
  color: #01A800;
}

.background {
  height: 700px; 
  width: 90%; 
  background-color: white;
}

.header {
  width: 75%; 
  height: 20%;
}

.mainBody {
  border: 1px solid gray; 
  background-color: red;
  height: 50px;
}

.spacingContainer {
  height: 40px;
}

.promptText {
  color: #01A800;
}

.centerContainer {
  height: 40%;
}

.getStartedContainer {
  width: 50%; 
  height: 50%;
}